html, body{
    background-color: #F4F7FA;
}

div{
        background-color: #F4F7FA; /* Reemplaza #f0f0f0 con el color que desees */
        margin: 0; /* Asegura que no haya márgenes predeterminados */
        padding: 0; /* Asegura que no haya relleno predeterminado */
}

button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}