/* dashboard.component.css */

.legend-container {
    display: flex;
    justify-content: center; /* Alinea la leyenda en el centro */
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espaciado entre elementos de la leyenda */
}

.legend-percentage {
    margin-left: 5px;
    font-weight: bold;
}